
    <div class="cart_container">
        <div class="div-table">
        <table *ngIf="cartItems.length > 0; else emptyCart" border="1">
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Increase</th>
            <th>Quantity</th>
            <th>Descrease</th>
            <th>Remove</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let item of cartItems">
            <td><img [src]="item.product.imageUrl" alt="Product Image" class="w-full h-auto" /></td>
            <td>
                {{ item.product.description }}
            </td>
            <td>
                {{ item.product.price | currency }}
            </td>
            <td>
                <button class="btn btn-success" type="button" name="button"
                    (click)="increaseQuantity(item.product.id)">+</button>
            </td>
            <td>
                <span class="text-center">{{ item.quantity }}</span>
            </td>
            <td>
                <button class="btn btn-danger"
                        type="button" name="button"
                    (click)="decreaseQuantity(item.product.id)">-</button>
            </td>
            <td>
                <button class="btn btn-danger" 
                        (click)="removeFromCart(item.product.id)">X</button>
            </td>
            <td>
                {{ item.quantity * item.product.price | currency }}
            </td>
        </tr>
    </table>
    </div>

    <div class="total">
        <div class="cost">
        <h3>Total Cost: </h3>
        <h4>{{ totalCost() | currency }}</h4>
        </div>
    <br>
    <button [disabled]="!hasItems()" (click)="checkout()"
        class="btn btn-danger">
        Checkout
    </button>
    <br>
    <br>
    </div>
    </div>




<ng-template #emptyCart>
    <div >
        No Content !!
    </div>
</ng-template>

